.blog {
  background-color: var(--white-color);
  padding: 120px 0 180px;

@include tablet {

  padding: 60px 0 90px;

}
  &__heading {
    text-align: left;
    margin-bottom: 60px;

    @include laptop {
      text-align: center;
    }

  }

  &__post-list {
    display: flex;
    column-gap: 5px;

    justify-content: space-between;


    @include laptop {
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }
  }

  &__post-item {
    display: flex;
    flex-direction: column;
    max-width: 390px;
  }
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &__image {
    object-fit: contain;
    height: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    color: var(--gray-900);


    @include tablet {
      font-size: 15px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-800);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__budge {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    padding: 1px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--gray-800);
    display: flex;
    column-gap: 4px;
  }

  &__data-list {
    display: flex;
    flex-wrap: wrap;
    color: var(--gray-700);
    column-gap: 5px;
    justify-content: space-around;

    @include laptop {
      flex-direction: column;
    }
  }

  &__data-item,
  &__icon {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__divider {
    height: 16px;
    width: 1px;
    border: 1px solid currentColor;
    align-self: center;

    @include laptop {
      display: none;
    }
  }

  .icon__left-arrow {
    color: var(--primary-color);
  }

  &__action {
    display: flex;
    align-items: baseline;
    column-gap: 11px;
  }

}