.header {
  background: var(--orange-background-gradient);
  padding-top: 20px;
  padding-bottom: 80px;

  &__logo {


    @include laptop {
      display: inline-flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__banner {
    margin-top: 8%;
  }

  &__statistics {
    padding-top: 100px;

    @include tablet {
      padding-top: 20px;

    }
  }


}