.banner {
  display: flex;
  justify-content: space-between;

  &__illustration {
    background: url("../../images/illustration.png") center/contain no-repeat;
    width: 551px;
  }

  &__title {
    margin-top: 24px;
    max-width: 496px;
    font-size: clamp(32px, 3.33vw, 64px);
    line-height: 1.3;
  }

  &__actions {
    margin-top: 2vh;
    display: flex;
    column-gap: 24px;
  }

  &__play-button-container {
    display: flex;
    align-items: center;

  }
}
