.blog {
  background-color: var(--white-color);
  padding-top: 120px;
  padding-bottom: 180px;


  &__heading {
    text-align: left;
    margin-bottom: 60px;
  }

  &__post-list {
    display: flex;
    column-gap: 30px;
  }

  &__post-item {
    display: flex;
    flex-direction: column;
  }
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray-900);
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray-800);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__budge {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    padding: 1px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--gray-800);
    display: flex;
    column-gap: 4px;
  }

  &__data-list {
    display: flex;
    color: var(--gray-700);
    column-gap: 12px;
  }

  &__data-item,
  &__icon {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__divider {
    height: 16px;
    width: 1px;
    border: 1px solid currentColor;
    align-self: center;
  }

  .icon__left-arrow {
    color: var(--primary-color);
  }

  &__action {
    display: flex;
    align-items: baseline;
    column-gap: 11px;
  }

}