.courses {
  @include container-padding-y;

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__description {
    flex-basis: 100%;
  }

  &__heading {
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }


  &__card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
  }

  &__card {
    display: flex;
    max-width: 580px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__button {
    align-self: end;
  }
}