.header {
  background: var(--orange-background-gradient);
  padding-top: 20px;
  padding-bottom: 80px;

  &__banner {
    margin-top: 8%;
  }

  &__statistics {
    padding-top: 100px;

    @include tablet {
      padding-top: 20px;

      }
  }



}