.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    justify-content: space-around;
    row-gap: 10px;
  }

  &__menu {
    flex-grow: 1;

    @include tablet {
      flex-basis: 100%;
    }
  }

  &__menu-list {
    display: flex;
    padding-inline: 45px;
    justify-content: space-around;


    @include tablet {
      padding-inline: 10px;
      justify-content: space-around;
    }

    @include mobile {
      font-size: 24px;
      text-align: center;
      flex-direction: column;
    }
  }

  &__menu-link {
    display: inline-flex;
    align-items: center;
    height: 52px;
  }

  &__actions {
    display: flex;
    column-gap: 22px;

    @include laptop {
      justify-content: space-around;
    }

  }

  &__login-container {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &:hover {
      :nth-child(n) {
        color: var(--gray-700);
      }
    }

  }

  &__button-register {
    background: none;
    padding: 0;
    border: none;
  }

  .login-icon {
    mask: url("../../icons/login-icon.svg") no-repeat center;
    background-color: currentColor;
    width: 24px;
    aspect-ratio: 1;
    transition-duration: var(--transition-duration);

    @include mobile {
      display: none;
    }

  }
}
