
.statistics {

  &__list {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    justify-content: space-between;
    flex-wrap: wrap;


    @include tablet {
      display: inline-flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

  }

  &__item {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    white-space: nowrap;

    @include tablet {
      flex-basis: 85%;
    }
  }

  &__value {
    font-size: clamp(24px, 2.39vw, 46px);
    font-weight: 900;

  }

  &__dot {
    height: 8px;
    width: 8px;
    background: var(--orange-color);
    border-radius: 50%;
    flex-shrink: 0;

    &:last-of-type {
      visibility: hidden;
    }

    @include tablet {
      &:last-of-type {
        visibility: visible;
      }
    }


  }

}
