.subscribe {
  position: relative;
  background: var(--orange-background-gradient);
  padding: 120px 30px 180px;

  @include mobile {
    padding: 30px 25px 30px;
  }

  &__heading {
    max-width: 810px;
    margin-inline: auto;
    margin-bottom: 60px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__form {
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    column-gap: 24px;

    @include mobile {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.5px;

  }

  &__input {
    flex-grow: 1;
    align-self: stretch;
    border: 1px solid var(--gray-400);
    border-radius: var(--border-radius);
    padding-inline: 16px;
  }

  .image-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../../images/subscribe__illustration.png") center/contain no-repeat;
    width: 354px;
    height: 246px;
    z-index: -1;

    @include mobile {
      display: none;
    }
  }

  .image-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../../images/subscribe__illustration.png") center/cover no-repeat;
    width: 354px;
    height: 246px;
    z-index: -1;

    @include mobile {
      display: none;
    }
  }
}