@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--gray-900);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.wide-container {
  max-width: var(--wide-container-width);
  margin-inline: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  color: var(--gray-900);
  row-gap: 10px;
  text-align: center;
}
.header-container__title {
  line-height: 1.3;
  font-size: clamp(28px, 2.6vw, 46px);
}
.header-container__description {
  font-size: clamp(12px, 1.8vw, 16px);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

a,
button,
input,
* svg {
  transition-duration: var(--transition-duration);
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--gray-700);
}

:root {
  --orange-background-gradient: linear-gradient(rgba(255, 63, 58, 0.2), rgba(247, 94, 5, 0.2));
  --btn-background-gradient: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  --primary-color: #FF3F3A;
  --secondary-color: #FFCF2D;
  --orange-color: #F75E05;
  --success-color: #03CEA4;
  --danger-color: #FF4242;
  --disabled-color: #9A9CA5;
  --white-color: #FFFFFF;
  --gray-900: #1E212C;
  --gray-800: #424551;
  --gray-700: #787A80;
  --gray-500: #B3B7BC;
  --gray-400: #D7DADD;
  --gray-200: #F4F5F6;
  --font-family: "Lato", "sans-serif";
  --wide-container-width: 1920px;
  --container-width: 1230px;
  --container-padding-x: 15px;
  --container-padding-y: 90px;
  --transition-duration: .2s;
  --border-radius: 4px;
  --button-border-hover: 1px solid var(--orange-color);
  --card-border: 1px solid #E5E8ED;
}

@font-face {
  font-family: "Lato";
  src: url("@/fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("@/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("@/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.button {
  display: inline-flex;
  height: 52px;
  align-items: center;
  border-radius: var(--border-radius);
  background: var(--btn-background-gradient);
  color: var(--white-color);
  font-weight: 700;
  line-height: 3.2;
  letter-spacing: 0.5px;
  padding-inline: 40px;
  border: 1px solid transparent;
}
.button:hover {
  color: var(--orange-color);
  background: transparent;
  border: var(--button-border-hover);
}
@media (max-width: 1024px) {
  .button {
    font-size: 14px;
    padding-inline: 4px;
  }
}
@media (max-width: 768px) {
  .button {
    height: 35px;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .navbar {
    justify-content: space-around;
    row-gap: 10px;
  }
}
.navbar__menu {
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar__menu {
    flex-basis: 100%;
  }
}
.navbar__menu-list {
  display: flex;
  padding-inline: 45px;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .navbar__menu-list {
    padding-inline: 10px;
    justify-content: space-around;
  }
}
@media (max-width: 425px) {
  .navbar__menu-list {
    font-size: 24px;
    text-align: center;
    flex-direction: column;
  }
}
.navbar__menu-link {
  display: inline-flex;
  align-items: center;
  height: 52px;
}
.navbar__actions {
  display: flex;
  column-gap: 22px;
}
@media (max-width: 1024px) {
  .navbar__actions {
    justify-content: space-around;
  }
}
.navbar__login-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.navbar__login-container:hover :nth-child(n) {
  color: var(--gray-700);
}
.navbar__button-register {
  background: none;
  padding: 0;
  border: none;
}
.navbar .login-icon {
  mask: url("@/icons/login-icon.svg") no-repeat center;
  background-color: currentColor;
  width: 24px;
  aspect-ratio: 1;
  transition-duration: var(--transition-duration);
}
@media (max-width: 425px) {
  .navbar .login-icon {
    display: none;
  }
}

.header {
  background: var(--orange-background-gradient);
  padding-top: 20px;
  padding-bottom: 80px;
}
@media (max-width: 1024px) {
  .header__logo {
    display: inline-flex;
    justify-content: center;
    flex-basis: 100%;
  }
}
.header__banner {
  margin-top: 8%;
}
.header__statistics {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .header__statistics {
    padding-top: 20px;
  }
}

.logo {
  flex-shrink: 0;
}

.banner {
  display: flex;
  justify-content: space-between;
}
.banner__illustration {
  background: url("@/images/illustration.png") center/contain no-repeat;
  width: 551px;
}
@media (max-width: 424px) {
  .banner__illustration {
    display: none;
  }
}
.banner__title {
  margin-top: 24px;
  max-width: 496px;
  font-size: clamp(32px, 3.33vw, 64px);
  line-height: 1.3;
}
.banner__actions {
  max-width: inherit;
  margin-top: 2vh;
  display: flex;
  column-gap: 24px;
}
.banner__play-button-container {
  display: flex;
  align-items: center;
}

.play-button {
  width: min(5vw, 52px);
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background: url("@/icons/Play-Button.svg") center/contain no-repeat;
}
.play-button:hover {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.2);
}
.play-button__text {
  font-weight: 700;
  padding-left: 14px;
}

.statistics__list {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .statistics__list {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.statistics__item {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .statistics__item {
    flex-basis: 85%;
  }
}
.statistics__value {
  font-size: clamp(24px, 2.39vw, 46px);
  font-weight: 900;
}
.statistics__dot {
  height: 8px;
  width: 8px;
  background: var(--orange-color);
  border-radius: 50%;
  flex-shrink: 0;
}
.statistics__dot:last-of-type {
  visibility: hidden;
}
@media (max-width: 768px) {
  .statistics__dot:last-of-type {
    visibility: visible;
  }
}

.about {
  background: var(--white-color);
  padding-top: var(--container-padding-y);
  padding-bottom: var(--container-padding-y);
}
@media (max-width: 1024px) {
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.about__heading {
  margin-bottom: 40px;
  text-align: left;
}
@media (max-width: 1024px) {
  .about {
    padding: 90px 0;
  }
}
@media (max-width: 425px) {
  .about {
    padding: 30px 0;
  }
}
.about__inner {
  display: flex;
  column-gap: 80px;
}
@media (max-width: 768px) {
  .about__inner {
    column-gap: 30px;
    justify-content: center;
  }
}
.about__illustration {
  background: url("@/images/about-image.png") center/cover no-repeat;
  width: 705px;
}
@media (max-width: 768px) {
  .about__illustration {
    display: none;
  }
}
.about__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 48px;
}
.about__item {
  color: var(--gray-800);
}
.about__item::before {
  content: "";
  display: inline-flex;
  background: url("@/icons/check.svg") center/contain no-repeat;
  width: 15px;
  aspect-ratio: 1;
  margin-right: 8px;
  vertical-align: center;
}

.courses {
  padding-top: var(--container-padding-y);
  padding-bottom: var(--container-padding-y);
}
@media (max-width: 1024px) {
  .courses {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.courses__inner {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.courses__description {
  flex-basis: 100%;
}
.courses__heading {
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
.courses__card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
}
.courses__card {
  display: flex;
  max-width: 580px;
}
@media (max-width: 425px) {
  .courses__card {
    flex-direction: column;
  }
}
.courses__button {
  align-self: end;
}

.card {
  border-radius: var(--border-radius);
}
.card__content {
  padding: 15px;
}
@media (max-width: 768px) {
  .card__content {
    font-size: 12px;
  }
}
.card__budge {
  color: var(--white-color);
  border-radius: var(--border-radius);
  background-color: var(--success-color);
  padding: 1px 8px;
  width: fit-content;
}
.card__info {
  display: flex;
  column-gap: 8px;
}
.card__price {
  font-weight: 700;
  font-size: 18px;
  color: var(--danger-color);
}
.card__speaker {
  display: flex;
  color: var(--gray-700);
  column-gap: 8px;
  align-items: center;
}
.card__speaker::before {
  content: "";
  width: 1px;
  height: 60%;
  justify-content: center;
  align-self: center;
  border: 1px solid var(--gray-700);
  border-radius: 10px;
}

.benefits {
  padding-top: var(--container-padding-y);
  padding-bottom: var(--container-padding-y);
}
@media (max-width: 1024px) {
  .benefits {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.benefits__wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .benefits__wrapper {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .benefits__wrapper {
    justify-content: center;
  }
}
.benefits__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
  max-width: 495px;
}
@media (max-width: 1024px) {
  .benefits__content {
    justify-content: start;
  }
}
.benefits__content-heading {
  font-size: 32px;
  line-height: 1.3;
}
.benefits__content-text {
  font-weight: 400;
}
.benefits__illustration {
  background: url("@/images/benefits__illustration-image.png") top/contain no-repeat;
  width: 600px;
  height: 440px;
}
@media (max-width: 768px) {
  .benefits__illustration {
    display: none;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .tabs {
    margin-top: 30px;
    flex-direction: column;
  }
}
.tabs__item {
  flex-grow: 1;
}
.tabs__button {
  border: 1px solid transparent;
  color: var(--disabled-color);
  background: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.tabs .is-current {
  color: var(--orange-color);
  background: transparent;
  border: var(--button-border-hover);
}

.events {
  padding: 80px 0;
  background: var(--orange-background-gradient);
}
@media (max-width: 768px) {
  .events {
    padding: 40px 0;
  }
}
.events__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
}
.events__item {
  display: flex;
  padding: 32px 25px;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  border-radius: var(--border-radius);
  background-color: var(--white-color);
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.0509803922), 0px 12px 10px -6px rgba(255, 63, 58, 0.0784313725), 0px 30px 24px -10px rgba(255, 63, 58, 0.1019607843), 0px 80px 80px -20px rgba(255, 63, 58, 0.1607843137);
}
@media (max-width: 768px) {
  .events__item {
    column-gap: 15px;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
}
.events__info {
  flex-grow: 1;
}
.events__info-group {
  font-weight: 400;
  color: var(--gray-700);
}
.events__view-all {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-top: 40px;
}
@media (max-width: 425px) {
  .events__view-all {
    flex-direction: column;
  }
}

.date {
  display: flex;
  column-gap: 20px;
}
.date__number {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: var(--primary-color);
}
.date__range {
  display: flex;
  flex-direction: column;
}
.date__range span {
  font-weight: 400;
  color: var(--gray-700);
  white-space: nowrap;
}

.certificate {
  padding-top: 120px;
}
@media (max-width: 1024px) {
  .certificate {
    padding-top: 60px;
  }
}
.certificate__info {
  max-width: 397px;
}
.certificate__heading {
  text-align: left;
}
.certificate__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .certificate__content {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.certificate__image {
  background: url("@/images/certificate__image.jpg") center/contain no-repeat;
  width: 705px;
  height: 500px;
  border: var(--card-border);
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.0509803922), 0px 12px 10px -6px rgba(154, 156, 165, 0.0784313725), 0px 30px 24px -10px rgba(154, 156, 165, 0.1019607843), 0px 80px 80px -20px rgba(154, 156, 165, 0.1607843137);
}
@media (max-width: 768px) {
  .certificate__image {
    width: 300px;
    height: 214px;
  }
}
@media (max-width: 425px) {
  .certificate__image {
    display: none;
  }
}
.certificate__logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}
.certificate__accreditation {
  margin-top: 40px;
  font-weight: 400;
}

.team {
  margin-top: -35px;
  background-color: var(--gray-200);
  padding: 166px 0 100px;
}
@media (max-width: 768px) {
  .team {
    padding: 80px 0 50px;
  }
}

.tutorials {
  margin-bottom: 180px;
}
@media (max-width: 768px) {
  .tutorials {
    margin-bottom: 80px;
  }
}
.tutorials__heading {
  text-align: left;
  margin-bottom: 60px;
}
.tutorials__card-list {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .tutorials__card-list {
    flex-direction: column;
  }
}
.tutorials__card-photo {
  padding: 20px 20px 0;
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  height: auto;
  margin-inline: auto;
}
.tutorials .card__figure {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  text-align: center;
}
.tutorials .card__person-name {
  color: var(--gray-800);
  font-weight: 700;
  font-size: 20px;
}
.tutorials .card__person-position {
  color: var(--gray-700);
  font-weight: 400;
}

.testimonials__heading {
  margin-bottom: 60px;
}
.testimonials__content {
  display: grid;
  margin-inline: auto;
  max-width: 1020px;
  grid-template-areas: "braces text" "braces user";
  row-gap: 24px;
  column-gap: 30px;
  padding: 64px 105px;
  background-color: var(--white-color);
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.031372549), 0px 12px 10px -6px rgba(154, 156, 165, 0.0392156863), 0px 30px 24px -10px rgba(154, 156, 165, 0.0509803922), 0px 80px 80px -20px rgba(154, 156, 165, 0.0784313725);
}
@media (max-width: 768px) {
  .testimonials__content {
    padding: 15px 20px;
    column-gap: 5px;
  }
}
.testimonials__braces {
  grid-area: braces;
}
.testimonials__text {
  font-weight: 400;
  font-size: 20px;
  color: var(--gray-800);
  grid-area: text;
}
.testimonials .user {
  max-width: 243px;
  display: flex;
  justify-content: start;
  column-gap: 20px;
  grid-area: user;
}
.testimonials .user__info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: center;
}
.testimonials .user__name {
  font-weight: 700;
  font-size: 16px;
  color: var(--gray-900);
}
.testimonials .user__position {
  font-size: 14px;
  color: var(--gray-700);
  font-weight: 400;
}
.testimonials__dots-list {
  display: flex;
  margin-top: 40px;
  column-gap: 12px;
  justify-content: center;
}
.testimonials__dots-item {
  width: 30px;
  border: 3px solid var(--gray-500);
  border-radius: 4px;
}
.testimonials .dot-is-current {
  border: 3px solid var(--gray-800);
}

.blog {
  background-color: var(--white-color);
  padding: 120px 0 180px;
}
@media (max-width: 768px) {
  .blog {
    padding: 60px 0 90px;
  }
}
.blog__heading {
  text-align: left;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .blog__heading {
    text-align: center;
  }
}
.blog__post-list {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .blog__post-list {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}
.blog__post-item {
  display: flex;
  flex-direction: column;
  max-width: 390px;
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.post__image {
  object-fit: contain;
  height: 100%;
}
.post__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--gray-900);
}
@media (max-width: 768px) {
  .post__title {
    font-size: 15px;
  }
}
.post__description {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-800);
}
.post__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.post__budge {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  padding: 1px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--gray-800);
  display: flex;
  column-gap: 4px;
}
.post__data-list {
  display: flex;
  flex-wrap: wrap;
  color: var(--gray-700);
  column-gap: 5px;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .post__data-list {
    flex-direction: column;
  }
}
.post__data-item, .post__icon {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.post__divider {
  height: 16px;
  width: 1px;
  border: 1px solid currentColor;
  align-self: center;
}
@media (max-width: 1024px) {
  .post__divider {
    display: none;
  }
}
.post .icon__left-arrow {
  color: var(--primary-color);
}
.post__action {
  display: flex;
  align-items: baseline;
  column-gap: 11px;
}

.subscribe {
  position: relative;
  background: var(--orange-background-gradient);
  padding: 120px 30px 180px;
}
@media (max-width: 425px) {
  .subscribe {
    padding: 30px 25px 30px;
  }
}
.subscribe__heading {
  max-width: 810px;
  margin-inline: auto;
  margin-bottom: 60px;
}
@media (max-width: 425px) {
  .subscribe__heading {
    margin-bottom: 20px;
  }
}
.subscribe__form {
  display: flex;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  column-gap: 24px;
}
@media (max-width: 425px) {
  .subscribe__form {
    flex-direction: column;
    row-gap: 10px;
  }
}
.subscribe__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 3.25;
  letter-spacing: 0.5px;
}
.subscribe__input {
  flex-grow: 1;
  align-self: stretch;
  border: 1px solid var(--gray-400);
  border-radius: var(--border-radius);
  padding-inline: 16px;
}
.subscribe .image-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("@/images/subscribe__illustration.png") center/contain no-repeat;
  width: 354px;
  height: 246px;
  z-index: -1;
}
@media (max-width: 425px) {
  .subscribe .image-1 {
    display: none;
  }
}
.subscribe .image-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("@/images/subscribe__illustration.png") center/cover no-repeat;
  width: 354px;
  height: 246px;
  z-index: -1;
}
@media (max-width: 425px) {
  .subscribe .image-2 {
    display: none;
  }
}

.footer {
  background: var(--gray-900);
}
.footer__logo {
  display: block;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer__about {
    display: none;
  }
}
.footer__content {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .footer__content {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.footer__about-text {
  max-width: 279px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 38px;
}
.footer__socials-list {
  display: flex;
  column-gap: 20px;
}
.footer__socials-item a {
  cursor: pointer;
}
.footer__socials-item a:hover {
  color: var(--white-color);
}
.footer__menu-title {
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 12px;
  white-space: nowrap;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.site-map {
  max-width: 79px;
}

.courses-menu {
  max-width: 109px;
}

.contacts {
  max-width: 163px;
}
.contacts__link {
  display: inline-flex;
  column-gap: 8px;
}
.contacts__link:hover {
  color: var(--white-color);
}

.copyright {
  display: flex;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 400;
  height: 58px;
  background: rgba(40, 44, 58, 0.9);
}
.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 425px) {
  .copyright__container {
    flex-direction: column;
  }
}
.copyright__text {
  display: inline-flex;
  column-gap: 4px;
  align-items: center;
}
.copyright__heart-icon {
  color: var(--primary-color);
}
.copyright__go-to-top {
  text-transform: uppercase;
}

.sign-up {
  max-width: 286px;
}
@media (max-width: 1024px) {
  .sign-up {
    display: none;
  }
}
.sign-up__input-email {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  padding: 9px 12px 9px;
}
.sign-up__input-label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 12px;
}
.sign-up__input-arrow {
  color: var(--white-color);
  position: absolute;
  top: 10px;
  right: 14px;
}

/*# sourceMappingURL=styles.css.map */
