:root {
  --orange-background-color: linear-gradient(rgba(255, 63, 58, 0.2), rgba(247, 94, 5, 0.2));
  --dark-grey: #1E212C;
  --light-grey: #424551;
  --background-color: #E5E5E5;
  --btn-color: linear-gradient(#FF3F3A, #F75E05);

  --font-family: "Lato", "sans-serif";
}