:root {
  --orange-color: #F75E05;
  --orange-background-color: linear-gradient(rgba(255, 63, 58, 0.2), rgba(247, 94, 5, 0.2));
  --white-background-color: #E5E5E5;
  --btn-background-color: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);

  --dark-grey: #1E212C;
  --light-grey: #787A80;
;

  --font-family: "Lato", "sans-serif";

  --container-width: 1200px;
  --container-padding-x: 15px;

  --transition-duration: .2s;

  --button-border-radius: 4px;
  --button-border-hover: 1px solid var(--orange-color);


}