:root {
  --orange-background-gradient: linear-gradient(rgba(255, 63, 58, 0.2), rgba(247, 94, 5, 0.2));
  --btn-background-gradient: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);

  --primary-color: #FF3F3A;
  --secondary-color: #FFCF2D;
  --orange-color: #F75E05;
  --white-color: #FFFFFF;
  --grey-color: #424551;
  --dark-grey: #1E212C;
  --light-grey: #787A80;
  --success-color: #03CEA4;
  --danger-color: #FF4242;
  --disabled-color: #9A9CA5;
  --gray-200: #F4F5F6;

  --font-family: "Lato", "sans-serif";

  --wide-container-width: 1920px;
  --container-width: 1230px;
  --container-padding-x: 15px;
  --container-padding-y: 90px;

  --transition-duration: .2s;

  --border-radius: 4px;
  --button-border-hover: 1px solid var(--orange-color);

  --card-border: 1px solid #E5E8ED


}