@import "normalize", "global", "variables", "fonts";

.button {
  display: inline-flex;
  height: 52px;
  align-items: center;
  border-radius: var(--button-border-radius);
  background: var(--btn-background-color);
  color: white;
  font-weight: 700;
  line-height: 3.2;
  letter-spacing: 0.5px;
  padding-inline: 40px;
  border: 1px solid transparent;


  &:hover {
    transition-duration: var(--transition-duration);
    color: #F75E05;
    background: transparent;
    border: var(--button-border-hover);
  }
}

.header {
  min-height: 100vh;
  background: var(--orange-background-color);
  padding-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}


.navbar__menu-list {
  display: flex;
  column-gap: 40px;
}

.navbar__menu-link {
  display: inline-flex;
  align-items: center;
  height: 52px;
}

.navbar__actions {
  display: flex;
  column-gap: 30px;
}

.navbar__button-register {
  color: #424551;
  background: none;

  &:hover {
    color: var(--light-grey);
    border: 1px solid transparent;
  }

}

